
  {{error}}
<div class="card">
  <h3>You are reserving: {{currentMovie.Title}}</h3>
  <img src="{{currentMovie.Poster_path}}" height="350" width="250"><br />
  <h4>Rating: {{currentMovie.Vote_average}}</h4>
  {{currentMovie.Overview}}<br />
  {{currentMovie.Release_date}}
</div>

<div class="card">
  <h5>Please fill the fields below:</h5>
  <div class="entry">
    <b>Select Date: </b>
    <input type="date" name="day" (change)="selectDate($event.target.value)">
  </div>
  <div class="entry">
      <b>Select Time: </b>
      <select (change)="selectTime($event.target.value)">
          <option *ngFor="let selectedTime of availableTime" value={{selectedTime}}>
              {{selectedTime}}
          </option>
      </select>
    </div>
    {{error}}
    <button type="button" class="btn btn-danger" (click)="pingSeats()">Get Available Seats</button>




<div *ngIf="showSeats" class="entry">
  <table>
  <tr *ngFor="let outerItem of seatsLayout; let i = index;">
    <td *ngFor="let innerItem of outerItem; let j = index;">
      <button *ngIf="innerItem==1 || newReservation[i][j]==1" type="button" class="btn btn-block btn-danger" [disabled]="innerItem" value="[i][j]" (click)="pressButton(i,j)">{{rowLetters[i]}}{{j}}</button>
      <button *ngIf="innerItem==0 && newReservation[i][j]==0" type="button" class="btn btn-block btn-success" [disabled]="innerItem" value="[i][j]" (click)="pressButton(i,j)">{{rowLetters[i]}}{{j}}</button>
    </td>
  </tr>
  </table>

  <div>
     <b>Currently reserving: </b>  <span *ngFor="let seat of reservedSeats">{{seat}} </span>
  </div>

  <div>
    <div class="entry">
    <b>Enter your email: </b>
    <input type="email" name="email" (change)="enterEmail($event.target.value)"><br />
    </div>
    <button type="button" class="btn btn-danger" (click)="reserveSeats()">Reserve Seats</button> <br />
    <div *ngIf="resSuccess">
        <h5>Reservation Successful.</h5> 
        Details Below: <br />
        <b>Date: </b>{{selectedDate}} <br />
        <b>Time</b>  {{this.selectedTime}} <br />
        <b>Seats:</b>{{this.reservedSeats}}<br />
        <b>Please be there 30 minutes before the movie for confirmation.</b>
    </div>

  </div>
  </div>
</div>


